:root {
  --text-weak: hsl(0, 0%, 60%); /* #999 to hsl */
  --bg-diff-addition: hsl(134, 61%, 90%); /* #dafbe1 to hsl */
  --bg-diff-deletion: hsl(0, 100%, 95%); /* #ffebe9 to hsl */
  --bg-code-background: hsl(0, 0%, 97%); /* #fefefe to hsl */
  --bg-code-highlight: hsl(213, 50%, 97%); /* #f0f4f9 to hsl */
  --border-code-highlight: hsl(217, 91%, 60%); /* rgb(59, 130, 246) to hsl */
}

[data-theme="dark"] {
  --text-weak: hsl(0, 0%, 40%); /* #555 to hsl */
  --bg-diff-addition: hsl(134, 61%, 20%, 0.15); /* #2ea04326 to hsl */
  --bg-diff-deletion: hsl(0, 78%, 63%, 0.15); /* #f8514926 to hsl */
  --bg-code-background: hsl(0, 0%, 20%); /* #212121 to hsl */
  --bg-code-highlight: hsl(216, 8%, 16%); /* #27292c to hsl */
  --border-code-highlight: hsl(212, 98%, 62%, 0.4); /* #388bfd66 to hsl */
}

.parent-container-of-pre {
  display: grid; /* in order { overflow-x: auto; } works in child <pre> */
}

pre,
pre code {
  background-color: var(--bg-code-background);

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

pre {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-weak);
  border-radius: 5px;

  overflow-x: auto;
}

pre > code {
  float: left;
  min-width: 100%;
}

.code-line {
  min-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-left: 4px solid transparent; /* prepare for highlighted code-lines */

  display: inline-block;
}

.code-line.inserted {
  background-color: var(--bg-diff-addition);
}

.code-line.deleted {
  background-color: var(--bg-diff-deletion);
}

.highlighted-code-line {
  background-color: var(--bg-code-highlight);
  border-left: 4px solid var(--border-code-highlight);
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--text-weak);
  text-align: right;

  display: inline-block;
}
