.remark-code-container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.25em;

  & > .remark-code-title {
    text-align: center;
    color: var(--muted-foreground);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  & > pre {
    margin: 0;
    border-radius: 0;

    /* hljs */
    & > code {
      display: block;
      overflow-x: auto;
      padding: 1em;
      background: #1e1e1e;
      color: #dcdcdc;
    }
  }
}
