:root {
  --text-weak: oklch(68.30% 0 0);
  --bg-diff-addition: oklch(95.74% 0.049 151.63);
  --bg-diff-deletion: oklch(95.55% 0.022 24.44);
  --bg-code-background: oklch(99.70% 0 0);
  --bg-code-highlight: oklch(96.55% 0.008 253.85);
  --border-code-highlight: oklch(50.37% 52.09 275.46);
}

[data-theme="dark"] {
  --text-weak: oklch(44.95% 0 0);
  --bg-diff-addition: oklch(50.66% 37.68 257.75);
  --bg-diff-deletion: oklch(45.69% 25.67 284.31);
  --bg-code-background: oklch(24.78% 0 0);
  --bg-code-highlight: oklch(28.01% 0.006 258.36);
  --border-code-highlight: oklch(52.43% 53.7 274.93);
}

.parent-container-of-pre {
  display: grid; /* in order { overflow-x: auto; } works in child <pre> */
}

pre,
pre code {
  background-color: var(--bg-code-background);

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

pre {
  padding: 0;
  border: 1px solid var(--text-weak);
  border-radius: 0;

  overflow-x: auto;
}

pre > code {
  float: left;
  min-width: 100%;
}

.code-line {
  min-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-left: 4px solid transparent; /* prepare for highlighted code-lines */

  display: inline-block;
}

.code-line.inserted {
  background-color: var(--bg-diff-addition);
}

.code-line.deleted {
  background-color: var(--bg-diff-deletion);
}

.highlighted-code-line {
  background-color: var(--bg-code-highlight);
  border-left: 4px solid var(--border-code-highlight);
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--text-weak);
  text-align: right;

  display: inline-block;
}
